body, html {
    height: 100%;
}
.container {
    width:100%;
}


    /*Header*/
.card{
    overflow:hidden;
    border: 0px !important;
    }
.card-img-caption .card-img-top {
  z-index: 0;
}
    
.card-img-caption .card-text {
    text-align: center;
    width: 32%;
    margin: 32% 62%;
    position: absolute;
    z-index: 1;
    color:white;
    background:rgba(0,0,0,0.9);
    padding: 1.5%;
}
.Box_text{
    font-size:20px;
    font-family: PF Din Stencil, Verdana; 
}

    /*blokken*/
.button_1 {
    margin-top:15%;
}

.button_2 {
    margin-top:15%;
}

.TB_1 {
    position:absolute;
    z-index:1;
    margin-top:50%;
    margin-left:15%;
    color:white;
    font-family: Verdana;
}

.TB_2 {
    position:absolute;
    z-index:1;
    margin-top:50%;
    margin-left:15%;
    color:white;
    font-family: Verdana;
}

.button_titel {
    font-size:125%;
    font-family: PF Din Stencil, Verdana;
}
    /*parallax css*/
.parallax {
    /* The image used */
    background-image: url(sailforce_trip_11.jpeg);

    /* Full height */
    height:75%;
    width: 100%;
    margin-top:5%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar-kleur {
    background-color: #d11f39 !important;
}

@media (min-width: 1250px) {
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
    }

    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

.navbar-style {
    font-family: PF Din Stencil, Verdana;
}

.navbar-style * {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.navbar-style li {
    display: inline-block;
    margin: 0 14px 14px;
    overflow: hidden;
}

.navbar-style a {
    position: relative;
    letter-spacing: 1px;
}


.navbar-style a:before {
    bottom: 100%;
    height: 3px;
    width: 100%;
    content: "";
}

.navbar-style a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 1px;
    content: attr(data-hover);
    color: white;
    white-space: nowrap;
}

.navbar .nav-item .nav-link {
    color:white;
}
    /*slider*/
    #carousel-container {
        background: #eee;
        margin-top:12%;
        margin-bottom:5%;
        height:40%;
    }
    
/*    Youtube placeholder*/
.yt_place {
    margin-left:6%;
    height:100%;
    width:100%;
    padding:1%;
}

.reviews {
    background-color:grey;
    margin-top:1%;
}

/*De teksten*/
.tekst {
    margin-top:5%;
}
.tekst p {
    font-family:Verdana;
}
.tekst h1 {
    font-family:PF Din Stencil, Verdana;
}