body, html {
    height: 100%;
}
#balk {
margin-left: -8px;
}

#header {
    margin-top: -20px;
    margin-left: -8px;
}

#blok1 {

    margin-top: 150px;
    margin-left: 280px;
}

#blok2 {
margin-left: 66%;
    margin-top: -24%;
}

/*parallax css*/
.parallax {
    /* The image used */
    background-image: url(sailforce_trip_11.jpeg);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-top:5%;
}
.navbar {
    background-color:#d2202f;
    height:15%;
    width: 100%;
}
.navbar-toggler {
    margin-left:90%;
    color:black;
}
