body, html {
    height: 100%;
}
.container {
    width:100%;
}
#balk {
margin-left: -8px;
}
    /*Header*/
.header {
    width: 100%;
    height:auto;
}
.header_text {
    height:27%;
    width:33%;
    background:rgba(0,0,0,0.9);
    position: absolute;
    z-index: 100;
    margin-left:52%;
    margin-top:25%;
    font-family: Verdana;
    font-size:13px;
    
    
    color:white;
    padding-left:2.5%;
    padding-top:1%;
}
.header_text h1{
    font-size:38px;
    font-family: PF Din Stencil, Verdana;
}
    /*blokken*/
#blok1 {

    margin-top: 150px;
    margin-left: 280px;
}

#blok2 {
    margin-left: 66%;
    margin-top: -24%;
}

    /*parallax css*/
.parallax {
    /* The image used */
    background-image: url(sailforce_trip_11.jpeg);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-top:5%;
}

    /*navbar*/
.navbar {
    background-color:#d2202f;
    height:15%;
    width: 100%;
}
.navbar-toggler {
    margin-left:90%;
    color:black;
}
.navbar .nav-item .nav-link {
    color:white;
}

    /*Logo*/
.Logo {
    height:100%;
    width: auto;
}